@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font-heading: 'Passion One', cursive;
    --font-text: 'Sriracha', cursive;
    --font-other: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

main, body {
    font-family: var(--font-other);
    /* background-color: white; */
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.418);
    z-index: 1;
}

header > h1 {
    font-family: var(--font-heading);
    font-size: 7vw;
}

header > h1 > span {
    font-size: 10VW;
}

header > p {
    margin-top: 10px;
    font-size: 1.1em;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}

main p {
    font-family: var(--font-text);
    font-size: 4vw;
    margin: 20px;
    padding: 10px;
}

section {
    padding: 40px 40px 40px 20px;
}

section.image {
    background-color: lightgrey;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 2px 2px 10px 3px rgba(0, 0, 0, 0.548);
}

section.image > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

section#img01 {
    background-image: url('../img/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../img/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0px -2px 7px 3px rgba(0, 0, 0, 0.164);
}